@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-family-sans: var(--font-inter);
	--font-family-mono: var(--font-roboto-mono);
	--animate-fade-in: fadeIn 300ms ease-in-out forwards;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

html {
	color-scheme: light;

	&.dark {
		color-scheme: dark;
	}
}

img {
	margin: auto;
}

figcaption {
	text-align: center;
}
