:root {
  --color-primary: #f1faee;
  --color-secondary: #1d3557;
  --color-tertiary: #457b9d;
  --color-accent: #e63946;
  --color-header: #ffb238;
  --color-homepage: #a8dadc;
}

:root.dark {
  --color-primary: #1d3557;
  --color-secondary: #f1faee;
  --color-tertiary: #457b9d;
  --color-accent: #e63946;
  --color-header: #ffb238;
  --color-homepage: #a8dadc;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
