:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

:root ::-moz-selection {
  color: var(--color-highlight-foreground);
  background: var(--color-highlight-background);
}
:root ::selection {
  color: var(--color-highlight-foreground);
  background: var(--color-highlight-background);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-accent-4);
}

.token.punctuation {
  color: var(--color-foreground);
}

.token.property,
.token.tag {
  color: var(--color-highlight-pink);
}

.token.keyword {
  color: var(--color-violet);
}

.token.class-name {
  color: var(--color-highlight-pink);
}

.token.boolean,
.token.constant {
  color: var(--color-warning-light);
}

.token.symbol,
.token.deleted {
  color: var(--color-error);
}

.token.number {
  color: var(--color-warning-light);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--color-violet);
}

.token.variable {
  color: var(--color-violet);
}

.token.operator {
  color: var(--color-violet);
}

.token.entity {
  color: #ffffb6;
  cursor: help;
}

.token.url {
  color: var(--color-success);
}

.language-css .token.string,
.style .token.string {
  color: var(--color-violet);
}

.token.atrule,
.token.attr-value {
  color: var(--color-accent-5);
}

.token.function {
  color: var(--color-success);
}

.token.regex {
  color: #e9c062;
}

.token.important {
  color: var(--color-warning);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
